name: Tests
on:
  push:
    branches:
      - main
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install nightly
        run: rustup toolchain add --component=rustfmt nightly
      - name: Checks
        run: bash ./ci.sh
